::deep div.mud-select {
    width: 112px !important;
    flex-grow: 0;
}

::deep .slectstateval {
    border: 2px solid red;
}

::deep .chipPending {
    background-color: #D885A3;
    color: #fafaf5;
    font-weight: bold;
}

::deep .chipDone {
    background-color: #7EAA92;
    color: #fafaf5;
    font-weight: bold;
}