.box {
    overflow: auto;
}

::deep .carddep {
    border-radius: 15px;
    height: 12rem;
    padding: 0px 10px 0 10px;
    background-color: #F5F5FA;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    overflow: auto;
    color: #292727;
}

::deep .carddepcontent {
    color: #292727;
}

::deep .txt {
    font-size: 13px;
}

::deep .divvac {
    background-size: 0 100%;
    background-image: linear-gradient(331deg, rgba(141, 139, 226, 1), rgba(241, 143, 167, 1));
    background-repeat: no-repeat;
    transition: .4s;
}

    ::deep .divvac:hover {
        background-size: 100% 100%;
    }

    ::deep .divvac:hover .child {
        color: #FAFAF5 !important;
        font-weight: bold;
    }

    ::deep .divvac .divvacheader {
        background-size: 0 100%;
        background-image: linear-gradient(90deg, rgba(141, 139, 226, 1), rgba(158, 154, 219, 1) 100%, rgba(202, 164, 173, 1));
        background-repeat: no-repeat;
        transition: .4s;
    }

    ::deep .divvac:hover .divvacheader {
        background-size: 100% 100%;
        border-radius: 10px;
        color: #FAFAF5 !important;
        font-weight: bold;
    }