.tabdiv {
    background: #e9ecef;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    height: auto;
    padding: 25px 50px 4px 50px;
}

/*.container {
    padding-top: 24px;
    background-color: #e9ecef;
}*/

.spantitle {
    font-weight: bold;
    color: #26446e;
    font-size: 1.1em;
}

/*TEXTFIELDS*/
::deep .itexfield, ::deep .idatefield {
    background-color: white;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid #D8DADC;
    width: 100%;
}

::deep .mdtextfield {

}

.cberror, ::deep .cberror {
    color: rgba(244,67,54,1);
}
/*BUTTONS*/
::deep .btnnext {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #F1BC3A;
    color: #424242;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: bold;
    width: 150px;
}

::deep .btnnext:hover {
    background-color: #E38D0F;
    color: #fff;
    transform: scale(1.1);
}

/*TABPANELS*/
::deep .mud-tab.mud-tab-active {
        color: #EEB12F;
        font-weight: bold;
}

::deep .mud-tabs-toolbar-content {
    background: #e9ecef;
    color: #78909C;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid #D8DADC;
    /*pointer-events: none;*/
}
::deep .mud-tabs-defaultindex {
    color: #EEB12F;
    font-weight: bold;
}

::deep .mud-tabs-afterindex {
    color: #EEB12F;
    font-weight: bold;
    border-bottom: 2px solid #79AC78;
    opacity: 0.5;
}

::deep .mud-chip-active {
    font-weight: bold;
    color: white;
    background-color: #EEB12F;
    margin-right: 15px;
}

::deep .mud-chip-after {
    font-weight: bold;
    color: white;
    background-color: #0A86C2;
    margin-right: 15px;
    opacity: 0.5;
}

::deep .mud-chip-after0 {
    font-weight: bold;
    color: white;
    background-color: #0A86C2;
    margin-right: 15px;
    opacity: 0.1;
}

::deep .mud-chip-after1 {
    font-weight: bold;
    color: white;
    background-color: #0A86C2;
    margin-right: 15px;
    opacity: 0.2;
}

::deep .mud-chip-after2 {
    font-weight: bold;
    color: white;
    background-color: #0A86C2;
    margin-right: 15px;
    opacity: 0.3;
}

::deep .mud-chip-after3 {
    font-weight: bold;
    color: white;
    background-color: #0A86C2;
    margin-right: 15px;
    opacity: 0.4;
}

::deep .mud-chip-default {
    font-weight: bold;
    color: white;
    background-color: #C5CFD2;
    margin-right: 15px;
}

::deep .mud-text-after {
    color: #0A86C2;
    font-weight: bold;
    opacity: 0.2;
}

::deep .mud-text-default {
    font-weight: bold;
}
