<MudDialog>
    <DialogContent>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Code</MudText>
            <MudTextField ReadOnly @bind-Value="obj.ASubCat_Code" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;font-weight: bold;" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Category</MudText>
            <MudSelect T="int" ValueChanged="OnChangeCat" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                <MudSelectItem Disabled="true" Value="0">---Select---</MudSelectItem>
                @foreach (var sec in CategoriesL)
                {
                    <MudSelectItem Value="@sec.Id">@sec.ACat_Name</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Name</MudText>
            <MudTextField @bind-Value="obj.ASubCat_Name" Disabled="@isEnableName" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogbtns" style="padding: 15px 15px 15px 10px;">
            <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
            <button type="button" class="save btn" @onclick="ConfirmCreateArea">Save</button>
        </div>
    </DialogActions>
</MudDialog>