<MudDialog>
    <DialogContent>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Code</MudText>
            <MudTextField ReadOnly @bind-Value="obj.ASubCat_Code" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;font-weight: bold;" />
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Category</MudText>
            <MudSelect @bind-Value="obj.CategoryId" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;">
                @foreach (var obj in CategoriesL)
                {
                    <MudSelectItem Value="@obj.Id">@obj.ACat_Name</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="flex-grow-1">
            <MudText Typo="Typo.body2">Name</MudText>
            <MudTextField @bind-Value="obj.ASubCat_Name" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-bottom: 5px;" />
        </div>
    </DialogContent>
    <DialogActions>
        <div class="dialogbtns" style="padding: 15px 15px 15px 10px;">
            <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
            <button type="button" class="save btn" @onclick="UpdateSave">Save</button>
        </div>
    </DialogActions>
</MudDialog>