@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />

<MudLayout Style="height: 99vh;">
        <div class="w-100 d-flex justify-content-center mt-5">
            @Body
        </div>
</MudLayout>