@inherits LayoutComponentBase

<MudThemeProvider />
<MudDialogProvider />

<MudLayout Style="height: 99vh;">
        <div class="w-100 d-flex align-items-center py-4 h-100">
            <main class="form-signin w-100 m-auto">
                @Body
            </main>
        </div>
</MudLayout>