@using System.Timers;
@using HrisApp.Client.Shared.NavMenus

<MudNavMenu Rounded="true" Margin="Margin.Normal" Bordered="true" Style="height: 100%">
    <span class="menutitle">Menu</span>
    <CadAdminNavMenu />
    <SysAdminNavMenu />
    <GenAdminNavMenu />
    <UserNavMenu />
    <HRNavmenu />
    <TechnicalNavMenu />
</MudNavMenu>