.ttitle {
    font-weight: bold;
}

::deep .dddiv {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #adbbc9;
    margin-bottom: 15px;
}

::deep .mud-toolbar {
        height: auto;
        padding: 0;
}

::deep .mud-input.mud-input-text.mud-input-adorned-end.mud-input-margin-dense.mud-shrink.mud-select-input {
    margin: 0;
    padding: 10px 10px 6px 15px;
    color: #27374D;
    font-weight: bold;
    margin-top: 2px;
}

::deep .stable {
    background: #e9ecef;
    border-radius: 20px;
}

::deep .tsearch {
    box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
    border-radius: 10px;
    border: 0;
    padding: 0 0 10px 15px;
    margin-top: 0;
}

.ssize {
    width: 617px;
}

::deep .btnedit {
    color: #27374D;
}
    ::deep .btnedit:hover {
        transform: scale(1.1);
    }

::deep .btnadd {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    background-color: #F1BC3A;
    color: #424242;
    padding-bottom: 4px;
}

    ::deep .btnadd:hover {
        background-color: #E38D0F;
        color: #fff;
        transform: scale(1.1);
    }

@media (max-width: 576px) {
    ::deep .dddiv {
        width: 223px;
    }

    .box {
        height: auto;
        margin-bottom: 15px;
        padding: 15px 25px 15px 25px;
    }
       
}