@page "/division"
@inject IDivisionService DivisionService
@inject NavigationManager NavigationManager
@inject IDialogService DialogService
@attribute [Authorize]

<div class="mb-3">
    <div class="d-flex flex-row mt-3 justify-content-between">
        <h3 class="m-3 ms-0">Division Management</h3>
        <button class="btn btn-primary" @onclick="OpenAddDivision"><i class="oi oi-plus me-1"></i> Add Division</button>
    </div>
</div>

@if (DivisionService.DivisionTs == null || DivisionService.DivisionTs.Count == 0)
{
    <span>Loading........!!!!</span>
}
else
{
    <MudTable Items="divisionList" Context="divisions" Elevation="0" HorizontalScrollbar="true" Dense="true" Hover="true" Bordered="false" Striped="true" Filter="new Func<DivisionT,bool>(FilterFunc1)" @bind-SelectedItem="selectedItem1">
        <ColGroup>
            <col style="width: 200px;" />
            <col style="width: 200px;" />

        </ColGroup>
        <ToolBarContent>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>Division</MudTh>
            <MudTh></MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="">@divisions.Name</MudTd>
            <MudTd Class="text-sm-end">
                <button class="btn btn-primary" @onclick="(() => OpenUpdateDivision(divisions.Id))"><i class="oi oi-pencil"></i></button>
            </MudTd>

        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 10, 25, int.MaxValue }" InfoFormat="@($"Right {infoFormat}")" HorizontalAlignment="HorizontalAlignment.Right" />
        </PagerContent>
    </MudTable>
}
