/*SL*/
.progress-bar-sl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#a6a842 var(--sl), #d5d6a5 0);
}

/*EL*/
.progress-bar-el {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#FD7E14 var(--el), #FFC107 0);
}

/*ML*/
.progress-bar-ml {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#51b5ab var(--ml), #9cd9d2 0);
}

/*PL*/
.progress-bar-pl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#e890e2 var(--pl), #dbbad9 0);
}

/*VL*/
.progress-bar-vl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#789cd6 var(--vl), #a1b3cf 0);
}

/*OL*/
.progress-bar-ol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#71d995 var(--ol), #94e3af 0);
}

.progress-text {
    color: #0C0048;
}

.progress-title {
    font-size: 12px;
}

.progress-count {
    font-weight: bold;
    font-size: 18px;
}

.progress-total {
    color: #6A707D;
    font-size: 12px;
}

.slash {
    color: #6A707D;
    font-size: 18px;
}

.maintitlespan {
    font-size: 20px;
    font-weight: bold;
    color: #264487;
    font-family: 'Poppins', sans-serif !important;
}

.credtitle {
    text-align: center;
    color: #6A707D;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

::deep .btnnext {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #F1BC3A;
    color: #424242;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: bold;
    width: 200px;
    transition: all .5s ease;
}

    ::deep .btnnext:hover {
        background-color: #E38D0F;
        color: #FAFAF5;
        transform: scale(1.1);
    }

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: #27374D;
}

/* plus sign */
.sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

::deep .sign svg {
    width: 17px;
}

    ::deep .sign svg path {
        color: white;
    }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.1em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
}

    .Btn:hover .sign {
        width: 30%;
        transition-duration: .3s;
        padding-left: 20px;
    }
    /* hover effect button's text */
    .Btn:hover .text {
        opacity: 1;
        width: 70%;
        transition-duration: .3s;
        padding-right: 10px;
    }
/* button click effect*/
.Btn:active {
    transform: translate(2px,2px);
}