@page "/employee"
@using System.Security.Claims;
@inject NavigationManager NavigationManager
@attribute [Authorize]


<PageTitle>Employees</PageTitle>

<div class="mb-5 mt-3">
    <div class="d-flex flex-row mt-5 justify-content-between">
        <h3 class="m-0">Employee List</h3>

        @if (userRole == "Admin")
        {
                    <MudButton OnClick="CreateNewEmployee" Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.PersonAdd" Class="btnadd">Add Employee</MudButton>
        }
    </div>
</div>

@code {

    [CascadingParameter]
    private Task<AuthenticationState> authState { get; set; }
    string? userRole;

    protected override async Task OnInitializedAsync()
    {
       var auth = await authState;
           
        userRole = auth.User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.Role)?.Value;
    }

    void CreateNewEmployee()
    {
        NavigationManager.NavigateTo("/employee/add");

    }
}
