/*select SEARCH*/
::deep .dddiv {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #adbbc9;
    margin-bottom: 15px;
}
::deep .mud-input.mud-input-text.mud-input-adorned-end.mud-input-margin-dense.mud-shrink.mud-select-input {
    margin: 0;
    padding: 10px 10px 6px 15px;
    color: #27374D;
    font-weight: bold;
    margin-top: 2px;
}
/*END select SEARCH*/

.ttitle {
    font-weight: bold;
}

.form-select {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #adbbc9;
    color: #27374D;
    font-weight: bold;
    height: 45px;
    margin-bottom: 15px;
}

::deep .stable {
    background: #e9ecef;
    border-radius: 20px;
}

::deep .mud-table-container {
    margin-top: 20px;
}

::deep .tsearch {
    box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
    border-radius: 10px;
    border: 0;
    padding: 0 0 10px 15px;
    margin-top: 0;
    margin-left: 10px;
}

.ssize {
    width: 617px;
}

::deep .mud-picker-inline {
    border: 2px solid #DEE2E6;
    padding: 0px 15px;
    border-radius: 10px;
    background-color: #ADBBC9;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #adbbc9;
    width: 18rem;
    transition: all .5s ease;
}

    ::deep .mud-picker-inline:hover {
        background-color: #82909e;
    }   

/*TABLE*/
::deep .statusActiveChip {
    background-color: #AAC8A7;
}
::deep .statusAwolChip {
    background-color: #888C4D;
}
::deep .statusInactiveChip {
    background-color: #B7B7B7;
}
::deep .statusResignedChip {
    background-color: #ebc878;
}
::deep .statusTerminatedChip {
    background-color: #E97777;
}
::deep .statusRetiredChip {
    background-color: #e0dfdc;
}

.Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    /*background-color: rgb(255, 65, 65);*/
    border: 2px solid #F1BC3A;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
}

/* plus sign */
::deep .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

    ::deep .sign svg {
        width: 20px;
    }

        ::deep .sign svg path {
            color: #E38D0F;
        }
/* text */
.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
}
/* hover effect on button width */
.Btn:hover {
    width: 184px;
    /*width: 125px;*/
    border-radius: 40px;
    transition-duration: .3s;
}

    .Btn:hover ::deep .sign {
        width: 30%;
        transition-duration: .3s;
    }
    /* hover effect button's text */
    .Btn:hover .text {
        opacity: 1;
        width: 80%;
        transition-duration: .3s;
        padding-left: 0px;
        padding-right: 10px;
        color: #E38D0F;
    }
/* button click effect*/
.Btn:active {
    transform: translate(2px,2px);
}