@page "/employee"


<PageTitle>Employees</PageTitle>

<div class="mb-3">
    <div class="d-flex flex-row mt-5 justify-content-between">
        <h3>Employee List</h3>
        <button class="btn btn-primary btn-sm" @* @onclick="OpenAddDepartment" *@><i class="oi oi-plus me-1"></i> Add Employee</button>
        <MudButton Variant="Variant.Filled" Size="Size.Medium" StartIcon="@Icons.Material.Rounded.PersonAdd" Color="Color.Primary">Add Employee</MudButton>
    </div>
</div>

@code {

}
