@inject IDialogService _dialogService

<MudDialog>
    <TitleContent>
        <MudText Typo="Typo.h6">
            <MudIcon Icon="@Icons.Material.Rounded.Error" Color="Color.Error" Class="mr-3" /> Error!
        </MudText>
    </TitleContent>
    <DialogContent>
        <span>@Mess</span>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel" >Close</MudButton>
    </DialogActions>
</MudDialog>

@code {
    #nullable disable
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }
    [Parameter] 
    public string Mess { get; set; }

    void Cancel() => MudDialog.Cancel();

}
