@inject IEmployeeService EmployeeService
@inject IPositionService PositionService

<div>@subpos.Description</div>

@code {
    [Parameter]
    public string verify { get; set; }

    EmployeeT employee = new();
    SubPositionT subpos = new();

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            employee = await EmployeeService.GetSingleEmployeeByVerId(verify);
            subpos = await PositionService.GetSingleSubPosition(employee.PositionId);
        }
        catch (Exception)
        {
            Console.WriteLine("");
        }
    }
}
