.ttitle {
    font-weight: bold;
}

.stable {
    background: #e9ecef;
    border-radius: 20px;
}

.tsearch {
    box-shadow: inset -5px -5px 10px #ffffff, inset 5px 5px 10px #bebebe;
    border-radius: 10px;
    border: 0;
    padding: 0 0 10px 15px;
    margin-top: 0;
}

.ssize {
    width: 617px;
}