.btnadd {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    background-color: #F1BC3A;
    color: #424242;
    padding-bottom: 4px;
    padding-right: 25px;
    padding-left: 25px;
    transition: all .5s ease;
}

.btnadd:hover {
    background-color: #E38D0F;
    color: #fff;
    transform: scale(1.1);
}


.btnShow {
    color: #27374D;
    transition: all .5s ease;
}
.btnShow:hover {
    transform: scale(1.1);
}

.btnedit {
    color: #27374D;
    transition: all .5s ease;
}

.btnedit:hover {
        transform: scale(1.1);
    }

.btnExport {
    border: 2px solid #F1BC3A;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    color: #424242;
    padding-bottom: 4px;
    transition: all .5s ease;
}

/*POSITION*/
.btnsmallsapos {
    background-color: #E38D4D;
    height: 40px;
    margin-left: 5px;
    margin-top: 3px;
    width: 80px;
    transition: all .5s ease;
}

    .btnsmallsapos:hover {
        background-color: #4169E1;
        color: #FAFAF5;
        transform: scale(1.1);
    }
/*MESSAGEBOX*/
.btnSaveMsgbox {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    background-color: #F1BC3A;
    color: #424242;
    padding: 7px 12px 5px 11px;
    transition: all .5s ease;
}

    .btnSaveMsgbox:hover {
        background-color: hsl(225deg 73% 57%);
        color: hsl(0, 0%, 100%);
        transform: scale(1.1);
    }

.btnDelete {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 10px;
    background-color: #BD574E;
    color: #FAFAF5;
    padding: 5px 15px 4px 15px;
    transition: all .5s ease;
}

    .btnDelete:hover {
        background-color: #BB2525;
        color: #FAFAF5;
        transform: scale(1.1);
    }

    .btnDelete:disabled {
        background-color: #C1C4C7;
        color: #fff;
    }

/*UPLOAD FILEDIALOG RAZOR BUTTONS*/
.btnactions {
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    transition: all .5s ease;
}

.btnactions:hover {
    transform: scale(1.1);
}

.btnactions.cancel:hover {
    color: #BE1313;
    background-color: #fff;
}


.cancel {
    margin-right: 10px;
    font-weight: bold;
    transition: all .5s ease;
}

    .cancel:hover {
        color: #be1313;
        font-weight: bold;
        transform: scale(1.1);
    }

.save {
    background-color: #27374D;
    color: #ffffff;
    padding: 8px 40px;
    transition: all .5s ease;
}

    .save:hover {
        background-color: #3a5273;
        color: #ffffff;
        transform: scale(1.1);
    }