.box {
    background: #e9ecef;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    height: 80vh;
    padding: 25px 50px 25px 50px;
    margin-top: 30px;
}

body::-webkit-scrollbar {
    width: 1em;
}

:root {
    --primary-color: var(--mud-primary);
    --secondary-color: var(--mud-secondary);
    --success-color: var(--mud-success);
    --info-color: var(--mud-info);
    --warning-color: var(--mud-warning);
    --error-color: var(--mud-error);
    --black-color: var(--mud-black);
    --white-color: var(--mud-white);
    --BackgroundGrey: var(--mud-palette-background-grey);
}

.menutitle {
    margin: 0px 0px 0px 14px;
    color: rgb(66, 66, 66);
    font-size: 14px;
    font-weight: bold;
}

.navlinktitle {
    font-weight: bold;
}

.mud-dialog {
    border-radius: 20px;
}

img, .imgavatar {
    image-resolution: 72dpi;
}

@media print {
    img, .imgavatar {
        image-resolution: 72dpi;
    }
}