.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--open {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 13px 20px #cacdcf;
    border-radius: 20px;
    height: 95vh;
    left: 15px;
    top: 15px;
}

.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 13px 20px #cacdcf;
    border-radius: 15px;
    height: 95vh;
    left: 15px;
    top: 15px;
    width: 4rem;
}

.topcards.mud-card-content {
    height: 100%;
    color: #424242;
}

.topmudcard {
    border-radius: 10px;
    /*background: #e9ecef;*/
    background-color: var(--BackgroundGrey);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 0px 0px 0px 10px !important;
}


.evalpanel {
    /* height: 9rem; */
    height: 12rem;
    border-radius: 10px;
    /*background: #e9ecef;*/
    /*background-color: var(--BackgroundGrey);*/
    background: linear-gradient(90deg, rgba(241,188,58,1) 0%, rgba(249,212,79,1) 46%, rgba(249,212,79,0.4430147058823529) 100%);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
}

#evalpanelbtn {
    padding: 10px 35px 8px 35px;
    border-radius: 45px;
    background-color: #fafaf5;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all .5s ease;
}

    #evalpanelbtn:hover {
        letter-spacing: 3px;
        background-color: hsl(225deg 73% 57%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(65 105 225) 0px 7px 25px 0px;
        transform: scale(1.0);
    }


.linepanel {
    border-radius: 10px;
    /*background: #e9ecef;*/
    background-color: var(--BackgroundGrey);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
}

.bdaypanel {
    height: 24rem;
    border-radius: 10px;
    background: #e9ecef;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
    overflow: auto;
}

/*Table*/
.stable {
    background: #e9ecef;
    border-radius: 20px;
}

.mud-table-head {
    border-bottom: 3px solid #DEE2E6;
}


/*Require Manpower*/
.cmbDivision {
    background-color: #ADBBC9;
    border-radius: 10px;
    width: 335px;
    min-width: 160px;
    padding: 8px 15px 5px 15px;
    max-width: max-content;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}

    .cmbDivision:hover {
        background-color: #7c8c9c;
        color: #fafaf5;
        transform: scale(1.1);
    }

.cmbDivisionFilter {
    font-weight: bold;
    background-color: #ADBBC9;
    border-radius: 10px;
    width: 207px;
    font-size: 16px;
    padding: 14px 15px 10px 15px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

    .cmbDivisionFilter:hover {
        background-color: #7c8c9c;
        color: #fafaf5;
        transform: scale(1.1);
    }

.cdivtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}