.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--open {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 13px 20px #cacdcf;
    border-radius: 20px;
    height: 95vh;
    left: 15px;
    top: 15px;
}

.mud-drawer.mud-drawer-mini.mud-drawer-pos-left.mud-drawer--closed {
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 13px 20px #cacdcf;
    border-radius: 15px;
    height: 95vh;
    left: 15px;
    top: 15px;
    width: 4rem;
}


/*APP BAR*/
/*NOTIF*/
.notifcontainer {
    /*background-color: #f5f7fa;*/
}
.notifbox {
    margin: 15px;
}

.eachnotifbox {
    border-radius: 8px;
    padding: 5px 8px;
    cursor: pointer;
}

    .eachnotifbox:hover, .seemorebutton:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

.notificationbadge {
    /* circle shape, size and position */
    position: absolute;
    right: -0.3em;
    bottom: -0.3em;
    min-width: 1.3em; /* or width, explained below. */
    height: 1.3em;
    border-radius: 0.8em; /* or 50%, explained below. */
    border: 0.08em solid #f2f5f7;
    background-color: #78bfa5;
    /* number size and position */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    color: white;
}

.notifbadgecount {
    right: -0.2em;
    top: -0.2em;
    background-color: #E41E3F;
    min-width: 1.6em; /* or width, explained below. */
    height: 1.6em;
    border: 0.08em solid #e9ecef;
    font-size: 0.9em;
    line-height:10px;
}

.seemorebutton {
    font-size: 15px;
    border-radius: 0px 0px 0px 8px;
    padding: 10px 8px;
    cursor: pointer;
    background-color: #dee1e3;
    text-align: center;
    margin-top: 10px;
    color: #164DA4;
    font-weight: bold;
    transition: all .5s ease;
}

    .seemorebutton:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }

.dot {
    height: 13px;
    width: 13px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    background-color: #2196F3;
}

.mud-popover.mud-popover-open.mud-popover-top-right.mud-popover-anchor-bottom-right.mud-popover-overflow-flip-onopen.mud-paper.mud-elevation-8 {
    background-color: #f2f5f7 !important;
}



.topcards.mud-card-content {
    height: 100%;
    color: #424242;
}

.topmudcard {
    border-radius: 10px;
    /*background: #e9ecef;*/
    background-color: var(--BackgroundGrey);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 12px 0px 4px 10px !important;
}


.evalpanel {
    /* height: 9rem; */
    height: 13rem;
    border-radius: 10px;
    /*background: #e9ecef;*/
    /*background-color: var(--BackgroundGrey);*/
    background: linear-gradient(90deg, rgba(241,188,58,1) 0%, rgba(249,212,79,1) 46%, rgba(249,212,79,0.4430147058823529) 100%);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
}

#evalpanelbtn {
    padding: 10px 35px 8px 35px;
    border-radius: 45px;
    background-color: #fafaf5;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all .5s ease;
}

    #evalpanelbtn:hover {
        letter-spacing: 3px;
        background-color: hsl(225deg 73% 57%);
        color: hsl(0, 0%, 100%);
        box-shadow: rgb(65 105 225) 0px 7px 25px 0px;
        transform: scale(1.0);
    }


.bdaypanel {
    height: 24rem;
    border-radius: 10px;
    background: #e9ecef;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 15px 20px 0px 20px;
    color: #424242;
}

/*GRAPH*/
.bargraph {
    border-radius: 10px;
    /*background: #e9ecef;*/
    background-color: var(--BackgroundGrey);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    height: 24rem;
    width: 100%;
}

canvas {
    width: 100% !important;
}

.divbarchart {
    height: 19rem;
    font-family: 'Poppins', sans-serif;
}

/*Table*/
.stable {
    background: #e9ecef;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
}

.mud-table-head {
    border-bottom: 3px solid #DEE2E6;
}


/*Require Manpower*/
.cmbDivision {
    background-color: #ADBBC9;
    border-radius: 10px;
    width: 335px;
    min-width: 160px;
    padding: 8px 15px 5px 15px;
    max-width: max-content;
    margin-bottom: 10px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    transition: all .5s ease;
}

    .cmbDivision:hover {
        background-color: #7c8c9c;
        color: #fafaf5;
        transform: scale(1.1);
    }

.cmbDivisionFilter {
    font-weight: bold;
    background-color: #ADBBC9;
    border-radius: 10px;
    width: 207px;
    font-size: 16px;
    padding: 14px 15px 10px 15px;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
    transition: all .5s;
}

    .cmbDivisionFilter:hover {
        background-color: #7c8c9c;
        color: #fafaf5;
        transform: scale(1.1);
    }

.cdivtext {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.daterangepicker {
    background-color: #F1BC3A !important;
    border-radius: 8px;
    padding: 0px 10px;
}

.popoverDateHired {
    background-color: #F1BC3A;
    border-radius: 8px;
    width: 18rem;
    transition: all .5s ease;
}

.popMenu {
    border-radius: 10px;
}



/*NO DATA*/
.divnodata {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.nodataspan {
    font-weight: bold;
    font-size: 2em;
    color: #465C8D;
}

.mud-popover {
    border-radius: 10px;
}

.notifbadge {
    cursor: pointer;
}
