.btnavatar {
    transition: all .5s ease;
}
    .btnavatar:hover {
        transform: scale(1.0);
    }

.Welcomepanel {
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(241,188,58,1) 0%, rgba(249,212,79,1) 46%, rgba(249,212,79,0.4430147058823529) 100%);
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
}

.leavebalancepanel {
    height: 14rem;
    border-radius: 10px;
    border: none;
    background: #e9ecef;
    background-color: var(--BackgroundGrey);
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
}

/*SL*/
.progress-bar-sl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#a6a842 var(--sl), #d5d6a5 0);
}

/*EL*/
.progress-bar-el {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#FD7E14 var(--el), #FFC107 0);
}

/*ML*/
.progress-bar-ml {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#51b5ab var(--ml), #9cd9d2 0);
}

/*PL*/
.progress-bar-pl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#e890e2 var(--pl), #dbbad9 0);
}

/*VL*/
.progress-bar-vl {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#789cd6 var(--vl), #a1b3cf 0);
}

/*OL*/
.progress-bar-ol {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: radial-gradient(closest-side, #E9ECEF 79%, transparent 80% 100%), conic-gradient(#71d995 var(--ol), #94e3af 0);
}

.progress-text {
    color: #0C0048;
}

.progress-title {
    font-size: 12px;
}

.progress-count {
    font-weight: bold;
    font-size: 18px;
}

.progress-total {
    color: #6A707D;
    font-size: 12px;
}

.slash {
    color: #6A707D;
    font-size: 18px;
}

.maintitlespan {
    font-size: 20px;
    font-weight: bold;
    color: #264487;
    font-family: 'Poppins', sans-serif !important;
}


.credtitle {
    text-align: center;
    color: #6A707D;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}


.fullnameappbar {
    font-family: 'Poppins', sans-serif !important;
    margin-right: 8px;
    font-size: 14px;
    color: #6A707D;
}

.userleavehistorypanel {
    height: 29rem;
    border-radius: 10px;
    background: #e9ecef;
    border: none;
    box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
    border-radius: 20px;
    padding: 10px 15px 10px 15px;
    color: #424242;
}