<MudDialog>
    <DialogContent>
        <MudTextField Label="Schedule Type" @bind-Value="newSchedule" Variant="Variant.Outlined" Style="margin-bottom:10px;" />
        <MudTextField Label="Time-in" InputType="InputType.Time" @bind-Value="timein" Variant="Variant.Outlined" Style="margin-bottom:10px;" />
        <MudTextField Label="Time-out" InputType="InputType.Time" @bind-Value="timeout" Variant="Variant.Outlined" />
    </DialogContent>
    <DialogActions>
        <div style="padding: 5px 13px 11px 13px;">
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton Class="btnadd" @onclick="ConfirmCreateSchedule">Save</MudButton>
            <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
            <button type="button" class="save btn" @onclick="ConfirmCreateSchedule">Save</button>
        </div>
    </DialogActions>
</MudDialog>
