@inject NavigationManager navigationManager
@inject SweetAlertService Swal
@inject IJSRuntime jsRuntime
@inject ISectionService SectionService
@inject IDivisionService DivisionService
@inject IDepartmentService DepartmentService
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService
@inject StateService StateService

<style>
    .mud-input.mud-input-outlined.mud-input-adorned-end {
        width: 300px;
        padding-right: 14px;
        padding-inline-end: 14px;
        padding-inline-start: unset;
    }
</style>

<MudDialog>
    <DialogContent>
        @if (selectedDepartment != 0)
        {
            <MudTextField @bind-Value="newSection" Label="Add Section" Variant="Variant.Outlined" Style="margin-bottom:10px;" Margin="Margin.Dense" />
            <div class="d-flex justify-content-end mb-2">
                <MudCheckBox @bind-Checked="notApplicableChecked">
                    <MudText Typo="Typo.caption">No Section</MudText>
                </MudCheckBox>
            </div>
        }
        <MudSelect @bind-Value="selectedDivision" Variant="Variant.Outlined" Margin="Margin.Dense">
            <MudSelectItem Disabled="true" Style="width: auto;" Value="0">Division</MudSelectItem>
            @foreach (var div in Division)
            {
                <MudSelectItem Value="@div.Id">@div.Name</MudSelectItem>
            }
        </MudSelect>
        @if (selectedDivision != 0)
        {
            var selectedCategoryObject = Division.FirstOrDefault(c => c.Id == selectedDivision);
            if (selectedCategoryObject != null)
            {
                var departments = Department.Where(d => d.DivisionId == selectedCategoryObject.Id).ToList();
                <MudSelect Label="Select Department" @bind-Value="selectedDepartment" Variant="Variant.Outlined" Margin="Margin.Dense" Style="margin-top:10px;">
                    <MudSelectItem Disabled="true" Value="0">Department</MudSelectItem>
                    @foreach (var department in departments)
                    {
                        <MudSelectItem Value="@department.Id">@department.Name</MudSelectItem>
                    }
                </MudSelect>
            }
        }
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" @onclick="ConfirmCreateSectionAsync">Save</MudButton>
        <MudButton OnClick="Cancel">Cancel</MudButton>
    </DialogActions>
</MudDialog>

