@inject IPositionService PositionService
@inject IAreaService AreaService
@inject SweetAlertService Swal
@inject NavigationManager navigationManager
@inject IJSRuntime jsRuntime
@inject IToastService _toastService
@inject GlobalConfigService GlobalConfigService
@inject IAuditlogService AuditlogService
@inject StateService StateService

<MudDialog>
    <DialogContent>
        @foreach (var item in Areas)
        {
            @if (item.Id == position.AreaId)
            {
                <div style="margin-bottom: 15px;" class="d-flex justify-content-center">
                    <span style="margin-bottom: 10px; font-size: 16px;">Area: <b> @item.Name</b></span>
                </div>
                
            }
        }
       
        <MudTextField Style="margin-bottom: 10px" Label="Name" @bind-Value="position.Name" Variant="Variant.Outlined"></MudTextField>
        <MudTextField Label="Platilla Count" @bind-Value="position.Plantilla" Variant="Variant.Outlined"></MudTextField>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="Cancel">Cancel</MudButton>
        <MudButton Color="Color.Primary" OnClick="UpdateArea">Save</MudButton>
    </DialogActions>
</MudDialog>
