<MudDialog>
    <DialogContent>
        <MudTextField Label="Name" @bind-Value="area.Name" Variant="Variant.Outlined"></MudTextField>
    </DialogContent>
    <DialogActions>
        <div style="padding: 5px 13px 11px 13px;">
            <button type="button" class="btn cancel" @onclick="Cancel">Cancel</button>
            <button type="button" class="save btn" @onclick="UpdateArea">Save</button>
        </div>
    </DialogActions>
</MudDialog>
