@page "/topcards"
<style>
    /*.topcards.mud-card-content {
        height: 100%;
        color: #424242;
    }*/

    /*.topmudcard {
         height: 9rem; 
        height: 12rem;
        border-radius: 10px;
        background: #e9ecef;
        background-color: var(--BackgroundGrey);
        border: none;
        box-shadow: -5px -5px 10px #ffffff, 5px 5px 10px #cacdcf;
        border-radius: 20px;
        padding: 10px 15px 10px 15px;
    }*/

 /*    .topmudcard:hover {                    
            background: #DADDDF;
        transform: scale(1.1);
    }
 */
    .icnbtn {
        padding: 12px;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
        overflow: visible;
    }
    .icnbtn:hover {
        background-color: #DADDDF;
        transform: scale(1.1);
    }
    </style>

<MudCard Class="topmudcard">
    <MudCardContent Class="topcards">
        <MudText Typo="Typo.body2" Style="color: #424242; font-size:16px;font-weight: 400;">@title</MudText>
        <div class="d-flex flex-grow-1 justify-content-between align-items-center h-100">
            <div>
                <MudText Typo="Typo.h3"><b>@value</b></MudText>
            </div>
            <div>
                <MudTooltip Text="Show Details" Color="Color.Tertiary">
                    <MudIcon Class="icnbtn" Icon="@icon" Style=@iconColor @onclick="@HandleIconClick" />
                </MudTooltip>
            </div>
        </div>
    </MudCardContent>
</MudCard>


@code {
    #nullable disable
    [Parameter]
    public string title { get; set; }
    [Parameter]
    public string value { get; set; }
    [Parameter]
    public string icon { get; set; }
    [Parameter]
    public string iconColor { get; set; }
    [Parameter]
    public EventCallback OnIconClick { get; set; }
    [Parameter]
    public EventCallback OnCardClick { get; set; }

    private async Task HandleIconClick()
    {
        await OnIconClick.InvokeAsync(null);
    }
    private async Task HandleCardClick()
    {
        await OnCardClick.InvokeAsync(null);
    }
}
