@page "/index"
@inject GlobalConfigService GlobalConfigService

<PageTitle>Index</PageTitle>

<h1>
    Hello, world! @GlobalConfigService.Role
</h1>

Welcome to your new app.
@GlobalConfigService.Role

<SurveyPrompt Title="How is Blazor working for you? " />
